<div class="admin-route-form_main_div" style="padding: 30px;">
  <br>
  <br>
  <h3>New route
  </h3>
  <br>
  <br>

<div class="container">
  <form [formGroup]="formRoute">

    <div class="mb-3" style="display: inline-block; margin: 20px;">

      <label for="departureAirportId" class="feher form-label">Departure airport</label>

      <select id="departureAirportId" formControlName="departureAirportId" class="form-select" style="width: 400px;">
        <option *ngFor="let airport of airportList" value="{{airport.id}}">{{airport.name}}, {{airport.city}} ({{airport.iata}})</option>
      </select>

    </div>

    <div class="mb-3" style="display: inline-block; margin: 20px;">

      <label for="arrivalAirportId" class="feher form-label">Arrival airport</label>

      <select id="arrivalAirportId" formControlName="arrivalAirportId" class="form-select" style="width: 400px;">
        <option *ngFor="let airport of airportList" value="{{airport.id}}">{{airport.name}}, {{airport.city}} ({{airport.iata}})</option>
      </select>

    </div>

    <div class="mb-3">
    </div>

    <div class="mb-3" style="display: inline-block; margin: 20px;">

      <label for="distance" class="feher form-label">Distance (km)</label>
      <input type="number" class="form-control" id="distance" formControlName="distance" placeholder="0" style="width: 100px;">

    </div>

    <div class="mb-3" style="display: inline-block; margin: 20px;">

      <label for="flightTime" class="feher form-label">Flight time (min)</label>
      <input type="number" class="form-control" id="flightTime" formControlName="flightTime" placeholder="0" style="width: 100px;">

    </div>

    <div class="mb-3" style="margin: 20px;">

      <label for="ticketFare" class="feher form-label">Ticket fare (EURO)</label>
      <input type="number" class="form-control" id="ticketFare" formControlName="ticketFare" placeholder="0" style="width: 100px;">

    </div>

    <div class="mb-3" style="margin: 20px;">
      <br>
    </div>

    <button type="submit" class="btn btn-primary mt-3" style="margin: 20px;" (click)="submitFormRoute()">Create route</button>

  </form>
</div>

</div>
