

<div class="admin-contact-main-div" style="padding: 30px;">

<mat-tab-group mat-align-tabs="center" >
  <mat-tab label="Registered users" >
    <mat-tab-group mat-align-tabs="center">
    <mat-tab class="unhandled" label="Unhandled requests" >

      <table mat-table [dataSource]="unhandledRequestRegistered"   style="display: table; justify-content:normal; text-align: center; flex-direction: column;align-items: flex-start">
        <ng-container matColumnDef="email" >
          <th  mat-header-cell *matHeaderCellDef > Contact email</th>
          <td  mat-cell *matCellDef="let request" > {{request.userEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef > Client name</th>
          <td  mat-cell *matCellDef="let request" > {{request.userFullName}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th  mat-header-cell *matHeaderCellDef > Request category</th>
          <td  mat-cell *matCellDef="let request" > {{request.messageCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th  mat-header-cell *matHeaderCellDef > Message</th>
          <td mat-cell *matCellDef="let request" > {{request.message}} </td>

        </ng-container>

        <ng-container matColumnDef="status">
          <th  mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let request">

            <button class="btn-details" mat-raised-button
                    (click)="handle(request.messageId,request.userEmail)">Handle now
            </button>
          </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUnhandled "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUnhandled ;"></tr>

      </table>


    </mat-tab>
    <mat-tab label="Handled requests">

      <table mat-table [dataSource]="handledRequestRegistered"   style="display: table; justify-content:normal; text-align: center; flex-direction: column;align-items: flex-start">
        <ng-container matColumnDef="email" >
          <th  mat-header-cell *matHeaderCellDef > Contact email</th>
          <td  mat-cell *matCellDef="let request" > {{request.userEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef > Client name</th>
          <td  mat-cell *matCellDef="let request" > {{request.userFullName}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th  mat-header-cell *matHeaderCellDef > Request category</th>
          <td  mat-cell *matCellDef="let request" > {{request.messageCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th  mat-header-cell *matHeaderCellDef > Message</th>
          <td mat-cell *matCellDef="let request" > {{request.message}} </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>



    </mat-tab>
    </mat-tab-group>
  </mat-tab>





  <mat-tab label="Visitors" >
    <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Unhandled requests">

      <table mat-table [dataSource]="unhandledRequestVisitor"   style="display: table; justify-content:normal; text-align: center; flex-direction: column;align-items: flex-start">
        <ng-container matColumnDef="email" >
          <th  mat-header-cell *matHeaderCellDef > Contact email</th>
          <td  mat-cell *matCellDef="let request" > {{request.visitorEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef > Client name</th>
          <td  mat-cell *matCellDef="let request" > {{request.visitorFullName}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th  mat-header-cell *matHeaderCellDef > Request category</th>
          <td  mat-cell *matCellDef="let request" > {{request.messageCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th  mat-header-cell *matHeaderCellDef > Message</th>
          <td mat-cell *matCellDef="let request" > {{request.message}} </td>

        </ng-container>

        <ng-container matColumnDef="status">
          <th  mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let request">

            <button class="btn-details" mat-raised-button
                    (click)="handle(request.messageId,request.visitorEmail)">Handle now
            </button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsUnhandled"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUnhandled;"></tr>

      </table>



    </mat-tab>
    <mat-tab label="Handled requests">

      <table mat-table [dataSource]="handledRequestVisitor"   style="display: table; justify-content:normal; text-align: center; flex-direction: column;align-items: flex-start">
        <ng-container matColumnDef="email" >
          <th  mat-header-cell *matHeaderCellDef > Contact email</th>
          <td  mat-cell *matCellDef="let request" > {{request.visitorEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef > Client name</th>
          <td  mat-cell *matCellDef="let request" > {{request.visitorFullName}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th  mat-header-cell *matHeaderCellDef > Request category</th>
          <td  mat-cell *matCellDef="let request" > {{request.messageCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th  mat-header-cell *matHeaderCellDef > Message</th>
          <td mat-cell *matCellDef="let request" > {{request.message}} </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>


    </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
</div>
