<form [formGroup]="saveUserForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Enter your email</mat-label>
          <input id="registration_email_input"
            [ngClass]="{'is-invalid': saveUserForm.get('email')?.invalid && saveUserForm.get('email')?.touched
                    || saveUserForm.get('email')?.errors?.serverError}"

            formControlName="email" matInput placeholder="Email">
          <div>
            <small
              *ngIf="saveUserForm.get('email')?.hasError('required') && saveUserForm.get('email')?.touched && !saveUserForm.get('email')?.errors?.serverError"
              class="text-danger" style="text-align:left;">
              Please enter an email<br>
            </small>
            <small
              *ngIf="saveUserForm.get('email')?.hasError('EmailNotAllowed')&& saveUserForm.get('email')?.touched && !saveUserForm.get('email')?.errors?.serverError"
              class="text-danger">
              Your email must contain @ and . characters!
            </small>

            <small *ngIf="saveUserForm.get('email')?.errors?.serverError" class="text-danger">
              {{saveUserForm.get('email')?.errors?.['serverError']}}
            </small>
          </div>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Enter your name</mat-label>
          <input id="registration_name_input"
            [ngClass]="{'is-invalid': saveUserForm.get('name')?.invalid && saveUserForm.get('name')?.touched
                    || saveUserForm.get('name')?.errors?.serverError}"
            formControlName="name" matInput>
          <div>
            <small
              *ngIf="saveUserForm.get('name')?.hasError('required') && saveUserForm.get('name')?.touched && !saveUserForm.get('name')?.errors?.serverError"
              class="text-danger">
              Please enter your name<br>
            </small>
            <small
              *ngIf="saveUserForm.get('name')?.hasError('NameNotAllowed') && saveUserForm.get('name')?.touched && !saveUserForm.get('name')?.errors?.serverError"
              class="text-danger">
              Please enter your full name!
            </small>

            <small *ngIf="saveUserForm.get('name')?.errors?.serverError" class="text-danger">
              {{saveUserForm.get('name')?.errors?.['serverError']}}
            </small>
          </div>

        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <mat-label>Enter your address</mat-label>
            <textarea id="registration_address_input" formControlName="address" matInput></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Enter your phone number</mat-label>
          <input id="registration_phonenumber_input"
            [ngClass]="{'is-invalid': saveUserForm.get('phoneNumber')?.invalid && saveUserForm.get('phoneNumber')?.touched
                    || saveUserForm.get('phoneNumber')?.errors?.serverError}"
            formControlName="phoneNumber" matInput>
          <div>
            <small
              *ngIf="saveUserForm.get('phoneNumber')?.hasError('required') && saveUserForm.get('phoneNumber')?.touched && !saveUserForm.get('phoneNumber')?.errors?.serverError"
              class="text-danger">
              Please enter your phone number<br>
            </small>
            <small
              *ngIf="saveUserForm.get('phoneNumber')?.hasError('PhoneNumberNotAllowed') && saveUserForm.get('phoneNumber')?.touched && !saveUserForm.get('phoneNumber')?.errors?.serverError"
              class="text-danger">
              Your phone number can only contain numeric values and + sign!
            </small>

            <small *ngIf="saveUserForm.get('phoneNumber')?.errors?.serverError" class="text-danger">
              {{saveUserForm.get('phoneNumber')?.errors?.['serverError']}}
            </small>
          </div>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Enter your password</mat-label>
          <input id="registration_password_input"
            [ngClass]="{'is-invalid': saveUserForm.get('password')?.invalid && saveUserForm.get('password')?.touched
                    || saveUserForm.get('password')?.errors?.serverError}"
            formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <div>
            <small
              *ngIf="saveUserForm.get('password')?.hasError('required') && saveUserForm.get('password')?.touched && !saveUserForm.get('password')?.errors?.serverError"
              class="text-danger">
              Please enter your password<br>
            </small>
            <small
              *ngIf="saveUserForm.get('password')?.hasError('PasswordNotAllowed') && saveUserForm.get('password')?.touched && !saveUserForm.get('password')?.errors?.serverError"
              class="text-danger">
              Please don't use accented letters!<br>
            </small>

            <small
              *ngIf="saveUserForm.get('password')?.hasError('PasswordNotAllowedSpecial') && saveUserForm.get('password')?.touched && !saveUserForm.get('password')?.errors?.serverError"
              class="text-danger">
              Password should be 8 to 20 characters with at least one special character(!@#&()–:;',?~$^=<>), one numeric, one small case and one upper case letter!(i.e Abcd@123)!<br>
            </small>

            <small *ngIf="saveUserForm.get('password')?.errors?.serverError" class="text-danger">
              {{saveUserForm.get('password')?.errors?.['serverError']}}
            </small>
          </div>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Confirm your password</mat-label>
          <input id="registration_re_password_input"
            [ngClass]="{'is-invalid': saveUserForm.get('confirmPassword')?.invalid && saveUserForm.get('confirmPassword')?.touched
                    || saveUserForm.get('confirmPassword')?.errors?.serverError}"
            formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
          <div>
            <small
              *ngIf="saveUserForm.get('confirmPassword')?.hasError('required') && saveUserForm.get('confirmPassword')?.touched && !saveUserForm.get('confirmPassword')?.errors?.serverError"
              class="text-danger">
              Please confirm your password!
            </small>

            <small *ngIf="saveUserForm.get('confirmedPassword')?.errors?.confirmedValidator" class="text-danger">
              Password and Confirm Password must be match.
              {{saveUserForm.get('confirmedPassword')?.errors?.['confirmedValidator']}}
            </small>
          </div>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveRegistration()" [disabled]="!saveUserForm.valid" mat-raised-button="" color="primary">
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</form>
