<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Error page</title>
  <link rel="stylesheet" href="error-page.component.css">
</head>
<body class="custom-body">
<section class="section-align">
<div>
  <h1>YOU HAVE FOUND A ROUTE <br>
    WE DO NOT FLY - YET.</h1>
</div>
  <div>
    <h3>
      The page you are looking for is not available.
      <br>
      This means the page is temporarily down or you maybe using a wrong link.
    </h3>
  </div>
  <br>
  <div>
    <p>
      Although, you can explore our current destinations
      on these links:
    </p>
    <div>
      <button class="list-button" (click)="openFlights()">Our flights</button>
      <button class="home-button" (click)="openHome()">Home</button>
    </div>
  </div>
  <div>
    <p class="aboutUs">KingfishAir Ltd. All rights reserved. © 2023 KingfishAir © 2000–2023 Navitaire</p>
  </div>
</section>
</body>


