<div class="container-forgotten">
<form [formGroup]="passwordForm" class="form-container-forgotten" >
  <mat-card class="login-card-forgotten">
    <mat-card-header>
      <mat-card-title> Forgot your password</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: center; justify-content: center">

        <mat-form-field class="full-width-forgotten">
          <mat-label
          >Enter your email
          </mat-label>
          <input
            [ngClass]="{'is-invalid': passwordForm.get('username')?.invalid && passwordForm.get('username')?.touched
                    || passwordForm.get('username')?.errors?.serverError}"
            formControlName="username" matInput placeholder="Email" type="email"/>
          <div>
            <small
              *ngIf="passwordForm.get('username')?.hasError('required') && passwordForm.get('username')?.touched && !passwordForm.get('username')?.errors?.serverError"
              class="text-danger">
              Please enter an email
            </small>

            <small *ngIf="passwordForm.get('username')?.errors?.serverError" class="text-danger">
              {{passwordForm.get('username')?.errors?.['serverError']}}
            </small>
          </div>
        </mat-form-field>

      <div class="description">
        We will send you an email with a password reset link!
      </div>
      <mat-card-actions style="text-align: center; justify-content: center">
        <button (click)="sendResetEmail()" [disabled]="passwordForm.invalid" mat-raised-button="" color="basic"> SEND
          RESET EMAIL
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
</div>
