.form-container-forgotten{
  display: flex;
  justify-content: center;
  padding: 12px;
box-shadow: none;
}

.full-width-forgotten{
  display: flex;
  margin: auto;
}

.login-card-forgotten{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: none;
}

mat-card-header-forgotten{
  margin: 24px 0 12px 0;
}

.description{
  margin: 12px 0 24px 0;
}
.container-forgotten{
  border-radius: 4px;
  padding: 0;
}


