<mat-card>
  <mat-card-title style="font-size: large; text-align: justify; font-weight: normal; margin-bottom: 12px">Thank you for registration!</mat-card-title>
  <mat-card-content style="font-size: medium; text-align: justify; font-weight: normal; margin-bottom: 12px ">
    Before booking a flight, please check your emails and verify your account!
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button style="width: 100%; margin-left: 40px; margin-right: 40px;" (click)="goToHomePage()"  mat-raised-button="" color="basic" > Let's start your journey!</button>
  </mat-card-actions>
</mat-card>
