<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="section">
  <div class="title">
    <h1>Our services</h1>
    <p><i>
      Welcome to a world of exceptional service, where your needs take center stage.
    </i>
    </p>
  </div>
  <div class="services">
    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-suitcase-rolling"></i>
      </div>
      <h2>Checked-in Baggage</h2>
      <p>
        What is a Carry-on Bag? A carry- on bag is the type of luggage travelers are allowed
        to take into an airplane. These baggages are transported in the cargo area of
        the plane. Checking luggage means you do not have to carry it through the airport.
        If you have more to pack than will fit in a carry-on, it is best to chose this option!
      </p>
    </div>


    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-paw"></i>
      </div>
      <h2>Pet on board!</h2>
      <p>
        The logistics of leaving your pet at home while you’re on a trip are tricky,
        we understand that. That's why KingfishAir allows dogs and cats in the passenger
        cabin of our aircraft. Your pet and its carrier must not exceed 10 kilograms
        (about 20 pounds) in total weight. Travel Carrier: Your pet's carrier must be
        airline-approved and measure no more than 55 x 40 x 25 cm.
      </p>
    </div>
    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-mug-hot"></i>
      </div>
      <h2>Fine-dining?</h2>
      <p>
        Give your taste buds a treat! Indulge in a culinary journey at 30,000 feet! Discover
        an array of delectable meals and refreshing beverages available for purchase during
        your flight. Plus, unlock exclusive discounts when you pre-order our delightful meal
        deals online while booking your flight. Have you tried our freshly brewed
        Java coffee yet?
      </p>
    </div>
  </div>
</div>
