<div class="main-div">
  <div class="heading">
    <h1>About us</h1>
    <h2 style="font-family: 'Playball', cursive; font-size: 2.6rem; margin-top: 3rem">The Airline</h2>
    <p><i>
      Where Excellence Takes Flight. Find out why our passengers keep flying with us.
    </i>
    </p>
  </div>
  <div class="container">
    <section class="about">
      <div class="about-img">
        <img src="assets/blended-wing.jpeg">
      </div>
      <div class="about-content">
        <p>Every day, we do our very best to be your favourite airline.
          With a strong commitment to customer satisfaction,
          passion for travel yet zero negative impact on the environment, KingfishAir offers
          exceptional service and seamless journeys.
          <br>
          <br>
          From friendly smiles to state-of-the-art aircraft, we connect the North, ensuring safe,
          comfortable and unforgettable experiences whilst protecting our planet.
          As we are committed to save the environment, we operate the most modern,
          hydrogen-powered, zero emission aircrafts designed and manufactured by exceptionally talented engineers
          and scientists. Together with the experience and forward-thinking perspective of
          our long-term partner, Airbus, we are making our way to a 100% sustainable,
          carbon-neutral aviation industry.
        </p>
      </div>
    </section>
    <div class="heading second-heading">
      <h2 style="font-family: 'Playball', cursive; font-size: 2.6rem; margin-top: 5rem">
        The Flight Crew
      </h2>
      <p><i>
        "...and the only way to do great work is to love what you do.”
      </i>
      </p>
    </div>
  </div>
  <section class="container-crew">
    <div class="card">
      <div class="card-image">
        <img src="assets/lilla.JPG" height="380" width="257">
        <h3 style="font-family: 'Raleway', sans-serif"><i>Szerémi Lilla</i></h3>
      </div>
      <h2 class="heading professions">
        The Captain
      </h2>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="assets/bende.png" height="380" width="257">
        <h3 style="font-family: 'Raleway', sans-serif"><i>Sári Bende</i></h3>
      </div>
      <h2 class="heading professions">
        The Airport Executive
      </h2>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="assets/zoli3.png" height="380" width="267">
        <h3 style="font-family: 'Raleway', sans-serif"><i>Tóth Zoltán</i></h3>
      </div>
      <h2 class="heading professions">
        The Flight Engineer
      </h2>
    </div>

    <div class="card card-last">
      <div class="card-image">
        <img src="assets/dani.png" height="380" width="257">
        <h3 style="font-family: 'Raleway', sans-serif"><i>Varga Dániel</i></h3>
      </div>
      <h2 class="heading professions">
        The Operations Manager
      </h2>
    </div>


  </section>
