<mat-card>
  <mat-card-title style="font-size: large; text-align: justify; font-weight: normal; margin-bottom: 12px">Thank you for your message!</mat-card-title>
  <mat-card-content style="font-size: medium; text-align: justify; font-weight: normal; margin-bottom: 12px ">
    We will reply as soon as possible!
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button style="width: 100%; margin-left: 40px; margin-right: 40px;" (click)="goToHomePage()"  mat-raised-button="" color="basic" > OK</button>
  </mat-card-actions>
</mat-card>
