
.nav-link {
  color: rgba(75, 134, 118, 0.7);
  background:
    linear-gradient(-45deg, #000  40%, #fff 60%, darkcyan 0) right/300% 100% no-repeat,
    linear-gradient(-45deg, #0000 45%,  darkcyan  60%, #0000 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.8s
}

.font-type-nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.btn-outline-success {
  font-weight: 400;
  border-width: 1px;
  margin-left: 1rem;
}

.nav-link:hover {
  background-position: left;
}
