<style>
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');
</style>

<nav *ngIf="!isAdmin()" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" style="color: darkcyan">
      <img src="assets/logo.jpg"
           alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
      KingfishAir
    </a>
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="visible-flight-list">Our flights</a>
        </li>
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="our-services">Services</a>
        </li>
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="about-us">About us</a>
        </li>
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="contact-us">Contact us</a>
        </li>

        <li *ngIf="!isAuthenticated()" class="nav-item font-type-nav" >
          <button  (click)="login()" class="btn btn-outline-success" type="button">Login</button>
        </li>

      </ul>


  <div *ngIf="isAuthenticated()" class="example-menu-row">
    <button  mat-stroked-button [matMenuTriggerFor]="menuHero"  color="primary">Account </button>
    <mat-menu #menuHero="matMenu" class="uxg-user-profile">
      <div class="uxg-menu-header">
        <div class="uxg-avatar-hero-block">
          <div class="uxg-avatar" large>{{getInitials()}}</div>
          <h6 class="uxg-h6">{{userDetails?.name}}</h6>
          <span class="uxg-caption">{{userDetails?.email}}</span>

        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="uxg-menu-footer">
        <button (click)="logout()" mat-flat-button color="primary" dense>
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
        <button (click)="toProfile()" mat-button color="primary" dense>
          View profile
        </button>
      </div>
    </mat-menu>
  </div>
    </div>
  </div>
</nav>

<nav *ngIf="isAdmin()" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" style="color: darkcyan">
      <img src="assets/logo.jpg"
           alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
      KingfishAir ADMIN site
    </a>
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAdmin">
      <ul class="navbar-nav">
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="admin-route-list" href="#">Routes</a>
        </li>
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="admin-route-form" href="#">New route</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item font-type-nav">
          <a class="nav-link" routerLink="admin-flight-list" href="#">Flights</a>
        </li>
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="admin-flight-form" href="#">New flight</a>
        </li>
        <li class="nav-item font-type-nav">
          <a class="nav-link" routerLink="admin-contact-us-messages" href="#">Messages</a>
        </li>
<!--        <li class="nav-item font-type-nav">-->
<!--          <a class="nav-link" routerLink="admin-reservation-list" href="#">Reservations</a>-->
<!--        </li>-->
        <li *ngIf="!isAuthenticated()" class="nav-item font-type-nav" >
          <button  (click)="login()" class="btn btn-outline-success" type="button">Login</button>
        </li>

      </ul>


      <div *ngIf="isAuthenticated()" class="example-menu-row">
        <button  mat-stroked-button [matMenuTriggerFor]="menuHero"  color="primary">Account </button>
        <mat-menu #menuHero="matMenu" class="uxg-user-profile">
          <div class="uxg-menu-header">
            <div class="uxg-avatar-hero-block">
              <div class="uxg-avatar" large>{{getInitials()}}</div>
              <h6 class="uxg-h6">{{userDetails?.name}}</h6>
              <span class="uxg-caption">{{userDetails?.email}}</span>

            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="uxg-menu-footer">
            <button (click)="logout()" mat-flat-button color="primary" dense>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
            <button (click)="toProfile()" mat-button color="primary" dense>
              View profile
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
