.reservation-form {
  background-image: url("/assets/reservation-background.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% 100%;
}
p {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.8rem;
  text-align: center;
  color: rgba(75, 134, 118, 0.75);
  font-family: 'Raleway', sans-serif;
}
.choose-button button {
  padding: 0.7rem 5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  border: darkslategray;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(75, 134, 118, 0.95);
}

.submit-button button {
  padding: 0.7rem 5rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #694ed6;
}


.add-button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.add-button i{
  font-size: 60px;
  color: green;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
    color: rgb(75, 134, 118);
  }
}
