.full-width{
  display: flex;
  width: 300px;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}


.login-card{
  display: flex;
 max-width: 100%;
  text-align: center;
  justify-content: center;

  background-color: whitesmoke;
}

.form-container{
  width: 100%
;
}
.content{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recaptcha{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

