
<div class="airplane-container">

  <div class="left-wing">
    <div class="upper"></div>
    <div class="midlle-section-left"></div>
    <div class="downer"></div>

  </div>
  <div class="plane-body-container">
    <div class="plane-body" >
      <div  class="plane-data">

            <mat-icon (click)="getSeats(seat)" *ngFor="let seat of seats, let i = index" id="{{seat}}" [ngStyle]="{'color': checkSeatStatus(seat),'pointer-events': seat.seatStatus =='reserved'? 'none':''}" class="seat-icon" >event_seat</mat-icon>

      </div>
    </div>
  </div>

  <div class="right-wing">
    <div class="upper"></div>
    <div class="midlle-section-right"></div>
    <div class="downer">

    </div>

  </div>

</div>
<div class="submit-button" *ngFor="let reservation of reservationForm.reservations"> For {{reservation.name}} the choosen seat is: {{reservation.seatNumber}} <br></div>
<div class="submit-button">
  <button mat-raised-button color="primary" (click)="saveSeat()"

  >Save your seat</button>

</div>



