
<mat-card >
  <mat-card-header style="padding: 0"> <mat-card-title class="card-header-title">Reset password </mat-card-title></mat-card-header>
</mat-card>
<mat-card>

    <mat-card-title class="mat-inner-title"> You've got mail!</mat-card-title>

    <div class="mat-dialog-text">We have sent you the instructions to your email address on how to reset your password.
    </div>
    <div class="mat-dialog-text">If the email did't arrive, give it a few minutes and check back. If it's still isn't there, check your spam folder or request new one.
    </div>

  <mat-card-actions class="button-dialog">
    <button style="width: 100%; margin-left: 40px; margin-right: 40px;" (click)="goToHomePage()"  mat-raised-button="" color="basic" > OK, GOT IT</button>
  </mat-card-actions>
</mat-card>
