<footer class="navbar navbar-light bg-light mt-5">
  <span class="navbar-text custom-text">
    KingfishAir Ltd. All rights reserved. | © 2023 KingfishAir  | © 2000–2023 Navitaire |
    <a href="assets/KingfishAir Privacy Policy.pdf" target="_blank">Privacy Notice</a> |
    <a href="assets/GCC.pdf" target="_blank">General Conditions of Carriage</a>
  </span>
  <span class="navbar-text contact">
    49 Hlíðarvegur, Reykjavík | Zip code: 113 <br>
    The Republic of Iceland <br>
    kingfishairservice@gmail.com <br>
    +354 422 7496
  </span>
</footer>
