<div class="admin-flight-form_main_div" style="padding: 30px;">
  <br>
  <br>
  <h3>New flight
  </h3>
  <br>
  <br>

  <div class="container">
    <form [formGroup]="formFlight">

      <div class="mb-3" style="margin: 20px;">

        <label for="ticketFare" class="feher form-label">Flight number</label>
        <input type="text" class="form-control" id="flightNumber" formControlName="flightNumber" placeholder="KF..."
               style="width: 100px; text-transform: uppercase;">

      </div>

      <div class="mb-3" style="margin: 20px;">

        <label for="routeId" class="feher form-label">Route</label>

        <select id="routeId" formControlName="routeId" class="form-select" style="width: 800px;">
          <option *ngFor="let route of routeList" value="{{route.id}}">
            {{route.departureDisplayName}} - {{route.arrivalDisplayName}} ({{route.distance}} km, {{route.flightTime}}
            min)
          </option>
        </select>

      </div>



      <div class="mb-3" style="display: inline-block; margin: 20px;">

        <label for="stDeparture" class="feher form-label">Scheduled time of departure</label>
        <input type="datetime-local" class="form-control" id="stDeparture" formControlName="stDeparture" placeholder=""
               style="width: 200px;">

      </div>

      <div class="mb-3" style="display: inline-block; margin: 20px;">

        <label for="stArrival" class="feher form-label">Scheduled time of arrival</label>
        <input type="datetime-local" class="form-control" id="stArrival" formControlName="stArrival" placeholder=""
               style="width: 200px;">

      </div>

      <div class="mb-3" style="margin: 20px;">

        <label for="planeId" class="feher form-label">Plane</label>

        <select id="planeId" formControlName="planeId" class="form-select" style="width: 400px;">
          <option *ngFor="let plane of planeList" value="{{plane.id}}">
            {{plane.registrationNumber}} - {{plane.name}} ({{plane.numberOfSeats}} seat)
          </option>
        </select>

      </div>


      <div class="mb-3" style="margin: 20px;">
        <br>
      </div>


      <button type="submit" class="btn btn-primary mt-3" style="margin: 20px;" (click)="submitFormFlight()">
        Create flight
      </button>

    </form>
  </div>


</div>
