
mat-card {
  max-width: 100vw;
  margin: 2rem auto;
  text-align: center;
  background-image: url("/assets/profile_background.jpg");
}

.custom-btn-profile {
  background-color: #694ed6;
  color: #fff;
}

mat-form-field {
  text-align: center;
}

.col-md-6 {
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-container {
  width: 50%;
  float: left;
}

.title-toolbar {
  background: darkcyan;
}

.container-field {
  width: 100%;
}

.panel {
  background: darkcyan;
}

.sub-basic-container {
  width: 100%;
  background-color: whitesmoke;
}

.flight-container {
  display: flex;
}

.airport-container {
  display: flex;
}

.description {
  justify-content: space-around;
}

.block-container {
  width: 100%;
}

.mat-icon {
  margin-right: 12px;
}

.name {
  color: #F9F2FE;
}

.uxg-avatar {
  margin-top: 2rem;
}

@media screen and (min-width: 1201px) {
  mat-card {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%
  }
}

@media screen and (max-width: 1200px) {
  .mat-card {
    max-width: 50%;
  }

  .basic-container {
    width: 100%;
    margin: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.5rem;
  }

  .sub-basic-container {
    width: 100%;
  }

  .panel {
    width: 100%;
  }

  .airport-container {
    width: fit-content;
    min-height: fit-content;
  }

  ::ng-deep .mat-expansion-panel .mat-expansion-panel-body {
      width: 100%;
      padding-inline: 0 !important;
      padding-bottom: 0;
      margin: 0;
    }

  ::ng-deep .mat-expansion-indicator {
      padding: 0;
      transform: none !important;
  }

  .mat-expansion-panel-header {
    height: fit-content;
    width: 100%;
    padding: 0.2rem;
}

  .description {
    max-width: 100%;
    font-weight: 300;
    font-size: math;
    justify-content: center;
}
  .mat-mdc-cell {
    padding: 0.2rem !important;
    margin: 0 !important;
    text-size-adjust: auto;

  }

  .mdc-data-table__cell[_ngcontent-ng-c611539531] {
    padding: 0.5rem !important;
    margin: 0 !important;
  }

  .mdc-data-table__header-cell {
  padding: 0.5rem;
  }

  .mat-elevation-z8{
    font-size: xx-small;
  }
  .table{
    font-size: xx-small;
  }

  .mat-mdc-header-cell {
    padding: 0.2rem !important;
    margin-bottom: 0;
    line-height: 0.8rem;
    height: max-content !important;
  }

  .mat-column-passengerName {
    max-width: 18%;
  }

  .mat-column-identificationNumber {
    max-width: 15%;
  }

  .mat-column-passengerGender {
    display: none;
  }

  .mat-column-extraAddons {
    max-width: 25%;
  }

  .mat-column-seatNumber {
    max-width: 13%;
    text-align: center;
  }

  .mat-column-downloadPDF {
    text-align: center;
  }
}
