<mat-toolbar class="title-toolbar">
  <mat-toolbar-row>
    <span class="center">My Profile</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-accordion>
  <mat-card>


    <div layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
      <div class="main">
        <div class="uxg-avatar" large>{{getInitials()}}</div>
      </div>
      <div class="name">{{name}}</div>
    </div>


    <div>
      <div class="basic-container">
        <mat-accordion>
          <mat-expansion-panel class="panel" expanded>

            <mat-expansion-panel-header>

              <mat-panel-title>Personal information</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description></mat-panel-description>

            <form [formGroup]="saveUserForm" class="form-container">

              <div class="col-md-6">
                <mat-form-field class="container-field">
                  <mat-label class="labels"></mat-label>
                  <input [readonly]="!editable" formControlName="email" matInput placeholder="Email">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="container-field">
                  <mat-label class="labels">Enter your name</mat-label>
                  <input formControlName="name" matInput>
                </mat-form-field>
              </div>


              <div class="col-md-6">
                <mat-form-field class="container-field">
                  <mat-label class="labels">Enter your address</mat-label>
                  <textarea formControlName="address" matInput></textarea>
                </mat-form-field>
              </div>


              <div class="col-md-6">
                <mat-form-field class="container-field">
                  <mat-label class="labels">Enter your phone number</mat-label>
                  <input formControlName="phoneNumber" matInput>
                </mat-form-field>
              </div>

              <mat-card-actions>
                <button (click)="modifyUser()" mat-raised-button="" color="primary">Save Account</button>
              </mat-card-actions>

            </form>


          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="basic-container">
        <mat-accordion>
          <mat-expansion-panel class="panel" expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>Bookings</mat-panel-title>

            </mat-expansion-panel-header>

            <div class="sub-basic-container">
              <mat-accordion>
                <mat-expansion-panel class="sub-basic-container" expanded>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Upcoming Flights</mat-panel-title>

                  </mat-expansion-panel-header>

                  <div class="sub-basic-container">
                    <mat-accordion>
                      <mat-expansion-panel class="sub-basic-container"
                                           *ngFor="let reservation of reservationsForFuture " [ngStyle]="{'background-color': checkReservationStatus(reservation)}"  [expanded]="checkExpandedPanel(reservation.id)">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size:x-small" class="description">

                            <div class="block-container">


                            <div class="airport-container">
                              <div class="mat-icon">
                                <mat-icon>flight_takeoff</mat-icon>
                              </div>
                              <div>
                                <div> {{reservation.departureAirportCity + ', ' + reservation.departureAirportName}}</div>
                                <div> STD: {{reservation.stDeparture | date:'yyyy. MM. dd. HH:mm'}}</div>
                              </div>
                            </div>
                            </div>


                            <div class="block-container">


                            <div class="airport-container">
                              <div class="mat-icon">
                                <mat-icon>flight_land</mat-icon>
                              </div>
                              <div>
                                <div> {{reservation.arrivalAirportCity + ', ' + reservation.arrivalAirportName}}</div>
                                <div> STA: {{reservation.stArrival | date:'yyyy. MM. dd. HH:mm'}}</div>
                              </div>
                            </div>
                            </div>
                          </mat-panel-title>

                        </mat-expansion-panel-header>


                        <table mat-table [dataSource]="reservation.seatListItemForUser" class="mat-elevation-z8"  style="">
                          <ng-container matColumnDef="passengerName" >
                            <th class="table" mat-header-cell *matHeaderCellDef style="font-size: x-small"> Passenger Name</th>
                            <td class="table" mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.name}} </td>
                          </ng-container>

                          <ng-container matColumnDef="identificationNumber">
                            <th class="table" mat-header-cell *matHeaderCellDef style="font-size: x-small"> ID Number</th>
                            <td class="table" mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.identificationNumber}} </td>
                          </ng-container>

                          <ng-container matColumnDef="passengerGender">
                            <th class="table" mat-header-cell *matHeaderCellDef style="font-size: x-small"> Passenger Gender</th>
                            <td class="table" mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.gender}} </td>
                          </ng-container>

                          <ng-container matColumnDef="extraAddons">
                            <th class="table" mat-header-cell *matHeaderCellDef style="font-size: x-small"> Choosen Extras</th>
                            <td class="table" mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.extraAddons}} </td>

                          </ng-container>

                          <ng-container matColumnDef="seatNumber">
                            <th class="table" mat-header-cell *matHeaderCellDef style="font-size: x-small"> Seat Number</th>
                            <td  class="table" mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.seatNumber}} </td>
                          </ng-container>

                          <ng-container matColumnDef="downloadPDF">
                            <th class="table" mat-header-cell *matHeaderCellDef style="font-size: x-small"> Boarding Pass</th>
                            <td class="table" mat-cell *matCellDef="let element" style="font-size: x-small"> <img (click)="downloadTicket(reservation.id,element.id,element.seatNumber)" width="20px" height="20px" src="/assets/file-type-pdf.svg"> </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumnsForFuture"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsForFuture;"></tr>

                        </table>
                        <mat-card-actions>
                          <button class="btn-details custom-btn-profile" mat-raised-button
                                  (click)="navigateToMap(reservation.arrivalAirportName)">Check arrival airport on map
                          </button>
                        </mat-card-actions>

                        <mat-card-actions *ngIf="!reservation.checkedinStatus">
                          <button  class="btn-details custom-btn-profile" mat-raised-button
                                  (click)="getQRCode(reservation.id)">Get QR Code for check-in
                          </button>
                        </mat-card-actions>


                        <mat-card-actions *ngIf="reservation.checkedinStatus">

                          <button class="btn-details custom-btn-profile" style="background-color: darkcyan" mat-raised-button
                                  disabled>You're checked in!
                          </button>
                        </mat-card-actions>

                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>


                </mat-expansion-panel>
              </mat-accordion>
            </div>


            <div class="sub-basic-container">
              <mat-accordion>
                <mat-expansion-panel class="sub-basic-container" expanded>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Pending Flights</mat-panel-title>

                  </mat-expansion-panel-header>

                  <div class="sub-basic-container">
                    <mat-accordion>
                      <mat-expansion-panel class="sub-basic-container"
                                           *ngFor="let reservation of reservationsForPending ">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size:x-small" class="description">

                            <div class="block-container">


                              <div class="airport-container">
                                <div class="mat-icon">
                                  <mat-icon>flight_takeoff</mat-icon>
                                </div>
                                <div>
                                  <div> {{reservation.departureAirportCity + ', ' + reservation.departureAirportName}}</div>
                                  <div> STD: {{reservation.stDeparture | date:'yyyy. MM. dd. HH:mm'}}</div>
                                </div>
                              </div>
                            </div>


                            <div class="block-container">


                              <div class="airport-container">
                                <div class="mat-icon">
                                  <mat-icon>flight_land</mat-icon>
                                </div>
                                <div>
                                  <div> {{reservation.arrivalAirportCity + ', ' + reservation.arrivalAirportName}}</div>
                                  <div> STA: {{reservation.stArrival | date:'yyyy. MM. dd. HH:mm'}}</div>
                                </div>
                              </div>
                            </div>
                          </mat-panel-title>

                        </mat-expansion-panel-header>


                        <table mat-table [dataSource]="reservation.seatListItemForUser" class="mat-elevation-z8">
                          <ng-container matColumnDef="passengerName">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Passenger Name</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.name}} </td>
                          </ng-container>

                          <ng-container matColumnDef="identificationNumber">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Identification Number</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.identificationNumber}} </td>
                          </ng-container>

                          <ng-container matColumnDef="passengerGender">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Passenger Gender</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.gender}} </td>
                          </ng-container>

                          <ng-container matColumnDef="extraAddons">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Choosen Extras</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.extraAddons}} </td>

                          </ng-container>

                          <ng-container matColumnDef="seatNumber">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Seat Number</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.seatNumber}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                        <mat-card-actions>
                          <button class="btn-details" mat-raised-button
                                  (click)="navigateToMap(reservation.arrivalAirportName)">Check arrival airport on map
                          </button>
                        </mat-card-actions>
                        <mat-card-actions>
                          <button class="btn-details" mat-raised-button
                                  (click)="pay(reservation.id)">Pay now
                          </button>
                        </mat-card-actions>

                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>


                </mat-expansion-panel>
              </mat-accordion>
            </div>







            <div class="sub-basic-container">
              <mat-accordion>
                <mat-expansion-panel class="sub-basic-container">
                  <mat-expansion-panel-header>
                    <mat-panel-title>Flight History</mat-panel-title>
                  </mat-expansion-panel-header>


                  <div class="sub-basic-container">
                    <mat-accordion>
                      <mat-expansion-panel class="sub-basic-container" *ngFor="let reservation of reservationsForPast ">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: x-small">
                            <div class="block-container">


                              <div class="airport-container">
                                <div class="mat-icon">
                                  <mat-icon>flight_takeoff</mat-icon>
                                </div>
                                <div>
                                  <div> {{reservation.departureAirportCity + ', ' + reservation.departureAirportName}}</div>
                                  <div> STD: {{reservation.stDeparture | date:'yyyy. MM. dd. HH:mm'}}</div>
                                </div>
                              </div>
                            </div>


                            <div class="block-container">


                              <div class="airport-container">
                                <div class="mat-icon">
                                  <mat-icon>flight_land</mat-icon>
                                </div>
                                <div>
                                  <div> {{reservation.arrivalAirportCity + ', ' + reservation.arrivalAirportName}}</div>
                                  <div> STA: {{reservation.stArrival | date:'yyyy. MM. dd. HH:mm'}}</div>
                                </div>
                              </div>
                            </div>

                          </mat-panel-title>

                        </mat-expansion-panel-header>

                        <table mat-table [dataSource]="reservation.seatListItemForUser" class="mat-elevation-z8">
                          <ng-container matColumnDef="passengerName">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Passenger Name</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.name}} </td>
                          </ng-container>

                          <ng-container matColumnDef="identificationNumber">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Identification Number</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.identificationNumber}} </td>
                          </ng-container>

                          <ng-container matColumnDef="passengerGender">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Passenger Gender</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.gender}} </td>
                          </ng-container>

                          <ng-container matColumnDef="extraAddons">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Choosen Extras</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.extraAddons}} </td>

                          </ng-container>

                          <ng-container matColumnDef="seatNumber">
                            <th mat-header-cell *matHeaderCellDef style="font-size: x-small"> Seat Number</th>
                            <td mat-cell *matCellDef="let element" style="font-size: x-small"> {{element.seatNumber}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>

                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>


                </mat-expansion-panel>
              </mat-accordion>
            </div>


          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card>


</mat-accordion>
