<div class="main-div">
  <div class="heading">
    <h1>Contact us</h1>
    <p>
      Have a question or request? You're in the right place.
    </p>
  </div>
  <div class="container">
    <section class="about">


        <div class="about-img">
          <img src="assets/contactus.jpg">
        </div>


      <div class="about-content">
        <form [formGroup]="form">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Please fill the form</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <div>
                <mat-form-field class="full-width">
                  <mat-label>Enter your email</mat-label>
                  <input
                    [ngClass]="{'is-invalid': form.get('clientEmail')?.invalid && form.get('clientEmail')?.touched
                    || form.get('clientEmail')?.errors?.serverError}"

                    formControlName="clientEmail" matInput placeholder="Email">
                  <div>
                    <small
                      *ngIf="form.get('clientEmail')?.hasError('required') && form.get('clientEmail')?.touched && !form.get('clientEmail')?.errors?.serverError"
                      class="text-danger" style="text-align:left;">
                      Please enter an email<br>
                    </small>
                    <small
                      *ngIf="form.get('clientEmail')?.hasError('EmailNotAllowed')&& form.get('clientEmail')?.touched && !form.get('clientEmail')?.errors?.serverError"
                      class="text-danger">
                      Your email must contain @ and . characters!
                    </small>

                    <small *ngIf="form.get('clientEmail')?.errors?.serverError" class="text-danger">
                      {{form.get('clientEmail')?.errors?.['serverError']}}
                    </small>
                  </div>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Enter your name</mat-label>

                  <input
                    [ngClass]="{'is-invalid': form.get('clientName')?.invalid && form.get('clientName')?.touched
                    || form.get('clientName')?.errors?.serverError}"
                    formControlName="clientName" matInput>
                  <div>
                    <small
                      *ngIf="form.get('clientName')?.hasError('required') && form.get('clientName')?.touched && !form.get('clientName')?.errors?.serverError"
                      class="text-danger">
                      Please enter your name<br>
                    </small>
                    <small
                      *ngIf="form.get('clientName')?.hasError('NameNotAllowed') && form.get('clientName')?.touched && !form.get('clientName')?.errors?.serverError"
                      class="text-danger">
                      Please enter your full name!
                    </small>

                    <small *ngIf="form.get('clientName')?.errors?.serverError" class="text-danger">
                      {{form.get('clientName')?.errors?.['serverError']}}
                    </small>
                  </div>

                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="full-width">
                  <mat-label [ngClass]="{'text-danger': (form.get('category')?.invalid && form.get('category')?.touched)
    || (form.get('category')?.errors?.['serverError'])}">Category
                  </mat-label>
                  <mat-select formControlName="category" [ngClass]="{'is-invalid': (form.get('category')?.invalid && form.get('category')?.touched)
    || (form.get('category')?.errors?.['serverError'])}">
                    <mat-option *ngFor="let category of categories"
                                [value]="category.messageCategory">{{ category.categoryName }}</mat-option>
                  </mat-select>
                  <small *ngIf="form.get('category')?.invalid && form.get('category')?.touched
    && !form.get('category')?.errors?.['serverError']">
                    Please choose a category!
                  </small>
                  <small
                    *ngIf="form.get('category')?.errors?.['serverError']">
                    {{ form.get('category')?.errors?.['serverError'] }}
                  </small>
                </mat-form-field>

              </div>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Enter your message</mat-label>
                  <textarea formControlName="message" matInput></textarea>
                </mat-form-field>
              </div>



            </mat-card-content>
          </mat-card>
        </form>
        <div>
          <button class="finish-transaction" (invalid)="!this.form.valid" mat-raised-button (click)="send()">Send message</button>
        </div>

      </div>
    </section>

  </div>
</div>
