<div class="card" >
  <img class="card-img-top" src="{{flight.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Standard departure: {{flight.stDeparture | date:'yyyy. MM. dd. HH:mm'}}</p>
    <p class="card-text">Departure Airport: <strong>{{flight.departureAirport}}</strong></p>
    <p class="card-text">Arrival Airport: <strong>{{flight.arrivalAirport}}</strong></p>
    <p class="card-title">Flight number: {{flight.flightNumber}}</p>
    <p class="card-title">Duration (minutes): {{flight.flightTime}}</p>
    <p class="card-title">Aircraft type: Airbus ZeroE BWB</p>
    <p class="card-title">Aircraft name: {{flight.planeName}}</p>
  </div>
</div>
