<table mat-table [dataSource]="flights" class="mat-elevation-z8">
  <ng-container matColumnDef="flightNumber">
    <th mat-header-cell *matHeaderCellDef> Flight number </th>
    <td mat-cell *matCellDef="let element"> {{element.flightNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="departureAirport">
    <th mat-header-cell *matHeaderCellDef> Departure airport </th>
    <td mat-cell *matCellDef="let element"> {{element.departureAirport}} </td>
  </ng-container>

  <ng-container matColumnDef="arrivalAirport">
    <th mat-header-cell *matHeaderCellDef> Arrival airport </th>
    <td mat-cell *matCellDef="let element"> {{element.arrivalAirport}} </td>
  </ng-container>

  <ng-container matColumnDef="stDeparture">
    <th mat-header-cell *matHeaderCellDef> STD </th>
    <td mat-cell *matCellDef="let element"> {{element.stDeparture | date:'yyyy. MM. dd.'}} {{element.stDeparture | date:'HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="stArrival">
    <th mat-header-cell *matHeaderCellDef> STA </th>
    <td mat-cell *matCellDef="let element"> {{element.stArrival | date:'yyyy. MM. dd.'}} {{element.stArrival | date:'HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let element" style="display: none;"> {{ element.id }} </td>
  </ng-container>

  <ng-container matColumnDef="detailsButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button class="btn-details" mat-raised-button (click)="goToDetails(element.id)">Flight details</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr *ngFor="let flight of flights" (click)="goToDetails(flight.id)"></tr>
</table>

