<div *ngIf="!isUsed?.used" class="container-forgotten">
  <form  [formGroup]="passwordForm" class="form-container-forgotten">
    <mat-card class="login-card-forgotten">
      <mat-card-header style="text-align: center; justify-content: space-evenly">
        <mat-card-title > Please give a new password</mat-card-title>
      </mat-card-header>
      <mat-card-content style="text-align: center; justify-content: space-evenly">
        <div>


          <mat-form-field class="full-width-forgotten">
            <mat-label
            >Enter your new password
            </mat-label>

            <input [ngClass]="{'is-invalid': passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched
                    || passwordForm.get('password')?.errors?.serverError}"
            formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <div>
              <small
                *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched && !passwordForm.get('password')?.errors?.serverError"
                class="text-danger">
                Please enter your password<br>
              </small>
              <small
                *ngIf="passwordForm.get('password')?.hasError('PasswordNotAllowed') && passwordForm.get('password')?.touched && !passwordForm.get('password')?.errors?.serverError"
                class="text-danger">
                Please don't use accented letters!<br>
              </small>

              <small
                *ngIf="passwordForm.get('password')?.hasError('PasswordNotAllowedSpecial') && passwordForm.get('password')?.touched && !passwordForm.get('password')?.errors?.serverError"
                class="text-danger">
                Password should be 8 to 20 characters with at least one special character(!@#&()–:;',?~$^=<>), one numeric, one small case and one upper case letter(i.e Abcd@123)!<br>
              </small>

              <small *ngIf="passwordForm.get('password')?.errors?.serverError" class="text-danger">
                {{passwordForm.get('password')?.errors?.['serverError']}}
              </small>
            </div>

          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Confirm your password</mat-label>
            <input
              [ngClass]="{'is-invalid': passwordForm.get('confirmedPassword')?.invalid && passwordForm.get('confirmedPassword')?.touched
                    || passwordForm.get('confirmedPassword')?.errors?.serverError}"
              formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'">

            <div>
              <small
                *ngIf="passwordForm.get('confirmedPassword')?.hasError('required') && passwordForm.get('confirmedPassword')?.touched && !passwordForm.get('confirmedPassword')?.errors?.serverError"
                class="text-danger">
                Please confirm your password!
              </small>

              <small *ngIf="passwordForm.get('confirmedPassword')?.errors?.confirmedValidator" class="text-danger">
                Password and Confirm Password must be match.
                {{passwordForm.get('confirmedPassword')?.errors?.['confirmedValidator']}}
              </small>
            </div>
          </mat-form-field>
        </div>

          <mat-card-actions style="text-align: center; justify-content: center">
            <button (click)="sendPassword()" [disabled]="passwordForm.invalid" mat-raised-button="" color="basic"> SET
              PASSWORD
            </button>
          </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>

</div>
<div *ngIf="isUsed?.used" >
  <div class="used-token">
  The opened link is expired, please ask for new one, if you want to reset your password!
  </div>
  <mat-card-actions style="text-align: center; justify-content: center">
    <button (click)="goToLogin()"  mat-raised-button="" color="basic"> OK, GOT IT
    </button>
  </mat-card-actions>
</div>
